@model IEnumerable<EmprestimoGato>

@{
    ViewData["Title"] = "Empréstimos";
}

@foreach (var emprestimo in Model)
{
    <div>
        <pre>
                    Cliente: @emprestimo.NomeCliente
                    Gato: @emprestimo.NomeGato
                    </pre>
    </div>
}
