@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <pre>
        <a asp-action="CadastroGato">Cadastre o gatinho</a>
        <a asp-action="Cadastrados">Veja os gatos disponíveis</a>
        <a asp-action="EmprestimoGato">Empreste um gato</a>
        <a asp-action="Emprestimos">Veja os empréstimos</a>
    </pre>  
</div>
