@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <a asp-action="CadastroGatos">Cadastre o gatinho</a>
    <a asp-action="Cadastrados">Veja os gatos disponíveis</a>
</div>
